.sidebar-body {
  position: fixed;
  width: 80px;
  height: 470px;
  border-radius: 0px 50px 50px 0px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 39.87361526489258px 39.87361526489258px 0px
    rgba(69, 42, 124, 0.15);
  backdrop-filter: blur(10.053956985473633px);
  z-index: 999;
}
.sidebar-body .icon {
  width: 24px;
  height: 24px;
}
.sidebar-body .sidebar-content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-left: 24px;
}
.sidebar-body .sidebar-link {
  cursor: pointer;
}
.sidebar-body .sidebar-link:hover {
  background-color: #7127ba;
  border-radius: 50px;
}
.sidebar-body .active {
  background-color: #7127ba;
  padding: 8px;
  border-radius: 50px;
}
